/*Change font size if the screen is smaller than 800px*/
@media (max-width: 800px) {
    body {
        font-size: 11px;
    }

    h1 {
        font-size: 25px;
    }

    h2 {
        font-size: 13px;
        font-weight: bold;
    }
}

/*The three list properties below are retrieved from https://perishablepress.com/css-center-align-list-left-align-text/.*/
div.parent {
	text-align: center;
	}

ul { 
	display: inline-block; 
	text-align: left; 
	}

body, html {
    height: 100%;
}

/*Banner properties below are retrieved from https://www.w3schools.com/howto/howto_css_hero_image.asp.*/
.banner-image {
    background-image: url("1145389.jpg");
    height: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.banner-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
  }

/*Code for centering images retrieved from: https://www.w3schools.com/howto/howto_css_image_center.asp*/
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 36%;
}

/*The following 5 selectors are used for interests.html*/
/*Styling for movie/tv-show grid*/
.grid {
    display: grid;
    padding: 20px;
    grid-column-gap: 20px;
    grid-row-gap: 10px;
    grid-template-columns: auto auto auto;
    flex-wrap: wrap
}

.grid-item {
    background-color: white;
    font-size: 20px;
    padding: 20px;
    text-align: center;
}

/*Styling for Pokémon and Physics table*/
.row > div {
    border: 0.5px dotted rgb(232, 50, 18);
}

/*Container properties below are from: https://www.w3schools.com/howto/howto_css_images_side_by_side.asp*/
/*Three image containers (use 25% for four, and 50% for two, etc)*/
.column {
float: left;
width: 33.33%;
padding: 5px;
border: none
}

/*Clear floats after image containers*/
.row::after {
content: "";
clear: both;
display: table;
} 
